body{
    background-color: black;
}

p{
    color: #20c20c;
    font-size: 20px;
}

h1{
    color: #20c20c;
    text-align: center;
}

#score{
    text-align: center;
}

#square-divisions{
    margin-left: -100px;
    padding-left: 50%;
}

#divisions-title{
    float: left;
    margin-top: 0px;
}

/* input box for divisions */
#divisions{
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
    color: #20c20c;
    background-color: black;
    border-color: #20c20c;
}

/* OK button for divisions */
#change-divisions{
    color: #20c20c;
    background-color: black;
    border-color: #20c20c;;
}

.clear{
    clear: both;
}

#gamecanvas{
    margin-left: -250px;
    padding-left: 50%;
}

#canvas{
    background-color: #20c20c;
}

